<div class="contact">
    <div class="map-iframe">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d105989.1750245905!2d18.557614870138625!3d-33.88548863601286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1dcc5a7c88f4a7c5%3A0xddfdc69775a78922!2sBellville%2C%20Cape%20Town!5e0!3m2!1sen!2sza!4v1647648535999!5m2!1sen!2sza" width="80%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div class="details">
        <h1 class="contacts-heading">
            You can drop us a line
        </h1>
        <p class="contact-par">Who are in extremely love with eco friendly system.</p>
        <div class="form">
            <app-form></app-form>
        </div>
    </div>
</div>