<div class="counters">
    <div class="counter">
        <h1 class="numbers">50 <span class="plus">+</span></h1>
        <p class="project">Projects completed</p>  
    </div>
    <div class="counter">
        <h1 class="numbers">3</h1>
        <p class="project">Really Happy Clients</p>  
    </div>
    <div class="counter">
        <h1 class="numbers">100+</h1>
        <p class="project">Total Tasks Completed</p>  
    </div>
    <div class="counter">
        <h1 class="numbers">&#8734;</h1>
        <p class="project">Cups of Coffee Taken</p>  
    </div>
    <div class="counter">
        <h1 class="numbers">6</h1>
        <p class="project">In House Professionals</p>  
    </div>
</div>