<div class="all-form">
    <form class="my-form" >
        <input type="text" name="name" placeholder="Enter your name" class="input">
        <input type="email" name="email" placeholder="Enter your email address" class="input">
        <input type="text" name="subject" placeholder="Subject" class="input">
        <textarea placeholder="Message" name="comment" class="input" cols="30" rows="10"></textarea>
        <button class="submit">SEND MESSAGE <mat-icon class="mat-icon">arrow_forward</mat-icon></button>
    </form>
</div>