<div class="allcards">
    <div class="card">
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTNQq6SLItbcCCahocE982FOb3jIiey5jhzYuRGTVbWtLVJp7JC" alt="" class="image-icon">
        <h3 class="card-heading">User friendly Admin</h3>
        <p class="card-par">
            inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct.
        </p>
        <button class="card-btn">VIEW DETAILS</button>
    </div>
    <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJ-56ky1Mixy_L3nFn2qBi4w7RwaaVlbx7DEYqXnS4qbu48sRG" alt="" class="image-icon">
        <h3 class="card-heading">Full Responsive</h3>
        <p class="card-par">
            inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct.
        </p>
        <button class="card-btn">VIEW DETAILS</button>
    </div>
    <div class="card">
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSwMnx-Pck-JECTGkcyIzY-xxFkCWZHU8Wwr9bIbhCAI9FQNEuN" alt="" class="image-icon">
        <h3 class="card-heading">Full Documentation</h3>
        <p class="card-par">
            inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct.
        </p>
        <button class="card-btn">VIEW DETAILS</button>
    </div>
    <div class="card">
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTSHwfnNLbRiffM4IupS9oKMMY4d0ZumGXN75bjzU0fcING7qEx" alt="" class="image-icon">
        <h3 class="card-heading">Resonable Pricing</h3>
        <p class="card-par">
            inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct.
        </p>
        <button class="card-btn">VIEW DETAILS</button>
    </div>
</div>

