<div class="clients">
    <div class="client">
        <div class="left-image">
            <img src="https://cdn.pixabay.com/photo/2021/08/04/13/06/software-developer-6521720__480.jpg" alt="" class="workers">
        </div>
        <div class="description">
            <p class="clients-par">BASIC & COMMON REPAIRS</p>
            <h1 class="clients-heading">
                Basic Revolutions
            </h1>
            <p class="clients-desc">Computer users and programmers have become so accustomed to using Windows, even for the changing capabilities and the appearances of the graphical.</p>
        </div>
    </div>
    <div class="client">
        <div class="left-image">
            <img src="https://cdn.pixabay.com/photo/2020/01/26/20/14/computer-4795762__340.jpg" alt="" class="workers">
        </div>
        <div class="description">
            <p class="clients-par">BASIC & COMMON REPAIRS</p>
            <h1 class="clients-heading">
                Basic Revolutions
            </h1>
            <p class="clients-desc">Computer users and programmers have become so accustomed to using Windows, even for the changing capabilities and the appearances of the graphical.</p>
        </div>
    </div>
    
</div>
